/*about section*/
.about {
  background: url('../images/cd-lobby.png') no-repeat;
  background-size: cover;
}

.about p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFF;
  display: inline-block;
  vertical-align: middle;
  float: none;
  font-size: 14px;
}

.about span {
  color: #FFF;
  font-size: 22px;
  padding: 15px;
  border: solid 1px #FFF;
}

@media(min-width:992px) {
  .about-header {
    padding: 35px;
  }
}

@media(max-width:992px) {
  .about p {
    padding-top: 25px;
  }
}
