/*about section*/
.about {
  background: url('../images/mission-bg.jpg') no-repeat;
  background-size: cover;
}

.about p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4c4c4c;
  font-weight: 300;
  font-size: 20px;
}

.about span {
  color: #f36f21;
  font-weight: 700;
}

@media(max-width:1000px) {
  .about {
      padding-top: 25%;
  }
}
