/*clients section*/
.clients {
  background-color: #000;
  color: #fff;
}

.clients header {
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: normal;
  padding-bottom: 10px;
}

.clients img {
  padding-bottom: 10px;
  width: 40%;
  height: 40%;
}

@media(max-width:991px) {
  .clients img {
    padding-bottom: 10px;
    width: 20%;
    height: 20%;
  }
}
