/*about section*/
.contact {
  background-color: #000;
  color: #fff;
}

.contact section * {
  display: block;
}

@media(max-width:991px) {
  .contact section:first-of-type {
    margin-bottom: -50px;
  }
}

.contact header {
  font-size: 26px;
  font-weight: 100;
  margin-bottom: 30px;
}

.contact span {
  font-size: 20px;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.contact .btn {
  padding: 10px 15px;
  height: 50px;
  width: 100px;
  margin: 0 auto;
}

.contact .btn-outline {
    margin-top: 15px;
    border: solid 1px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.contact .btn-outline:hover,
.contact .btn-outline:focus,
.contact .btn-outline:active,
.contact .btn-outline .active {
    border: solid 1px #fff;
    color: #000;
    background: #fff;
}

.contact .address * {
  display: block;
}

.contact .address span {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
