/*specialize section*/
.specialize * {
  display: block;
}

.specialize .border {
  border: 1px solid #C4C4C4;
}

.specialize header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 24px;
  padding-top: 5px;
}

.specialize img {
  margin: 0 auto;
}

.specialize span:first-of-type {
  padding-top: 80px;
}

.specialize span {
  color: #949494;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
