<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2 col-lg-4">
      <div class="about-header">
        <span>
          <b>We get it done.</b>
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <p>We work the long hours and late nights because we live in a world where <i><strong>creative is king</strong></i>, coffee is our best friend and <i><strong>turnaround is our middle name</strong></i>. We bring home the bacon by being attentive to the creative needs of those we work with, holding each other accountable to the team standard and consistently delivering work on time every time.</p>

      <p>In our philosophy, we have a good time and try not to take ourselves too seriously but <i><strong>it starts and it ends with the work</strong></i>.</p>
    </div>
  </div>
</div>
