<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section class="text-center">
        <header>Give us a ring.</header>
        <span>It would be nice to hear your</span>
        <span>sweet voice!</span>
        <a href="tel:+17705458644" class="btn btn-outline">Call</a>
      </section>
    </div>

    <div class="col-md-4 text-center">
      <img src="../images/contact/spaceMonkey.png">
      <div class="address text-center">
        <span>CraterDust</span>
        <span>
          <strong>1-(770)-545-8644</strong>
        </span>
        <span>1170 McKendree Church Rd Suite A</span>
        <span>Lawrenceville, GA 30043</span>
      </div>
    </div>

    <div class="col-md-4">
      <section class="text-center">
        <header>E-mail us.</header>
        <span>Our inbox awaits your</span>
        <span>beck and call.</span>
        <a href="mailto:impact@craterdust.com" class="btn btn-outline">E-mail</a>
      </section>
    </div>
  </div>
</div>
