<div class="container">
  <div class="row">
    <div class="col-md-4">
      <header class="text-center">
        <span>Give us a ring.</span>
        <p>
          It would be nice to hear your
          <br>
          sweet voice!
        </p>
        <a href="tel:+17705458644" class="btn btn-outline">Call</a>
      </header>
    </div>

    <div class="col-md-4 text-center">
      <img src="../images/contact/spaceMonkey.png">
    </div>

    <div class="col-md-4">
      <header class="text-center">
        <span>E-mail us.</span>
        <p>
          Our inbox awaits your
          <br>
          beck and call.
        </p>
        <a href="mailto:impact@craterdust.com" class="btn btn-outline">E-mail</a>
      </header>
    </div>
  </div>
</div>
