<div class="container">
  <div class="row">
    <div class="text-center">
      <header>Meet the Crew</header>
    </div>
  </div>

  <div class="row">
    <div class="text-center">
      <div class="col-xs-12 col-md-4">
        <p>
          <strong>Steve Casper</strong>
          <br>
          <em>Owner / Creative Director</em>
          <br>
          <a href="mailto:steve@craterdust.com">steve@craterdust.com</a>
        </p>
      </div>

      <div class="col-xs-12 col-md-4">
        <p>
          <strong>Graham Gibbs</strong>
          <br>
          <em>Art Director / Designer</em>
          <br>
          <a href="mailto:graham@craterdust.com">graham@craterdust.com</a>
        </p>
      </div>

      <div class="col-xs-12 col-md-4">
        <p>
          <strong>Jenny Guess</strong>
          <br>
          <em>Office Manager / Admin Assistant</em>
          <br>
          <a href="mailto:jenny@craterdust.com">jenny@craterdust.com</a>
        </p>
      </div>

      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <p>
          <strong>Chris Cooke</strong>
          <br>
          <em>Designer</em>
          <br>
          <a href="mailto:christo@craterdust.com">christo@craterdust.com</a>
        </p>
      </div>

      <div class="col-xs-12 col-md-4">
        <p>
          <strong>Nick Malacarne</strong>
          <br>
          <em>Developer</em>
          <br>
          <a href="mailto:nick@craterdust.com">nick@craterdust.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
