<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <header class="text-center">Our Work</header>
      <hr />
    </div>
  </div>

  <div class="row">
    <div ng-repeat="item in portfolio.getItems()">
      <div class="col-sm-4 portfolio-item">
        <a ng-href="#/item/{{$index}}" class="portfolio-link">
          <img ng-src="{{item.thumb}}" class="img-responsive" alt="">
        </a>

        <div class="title text-center">
          <a href="">{{item.name}}</a>
        </div>
        <div class="text-center">
          <i ng-repeat="tag in item.tags" class="portfolio-tag">
            {{tag}}{{!$last ? ', ' : ''}}
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
