<slick autoplay="true" speed="1500" autoplay-speed="5000" dots="false" arrows="false">
  <div class="slide">
    <img class="img-responsive" src="/images/slider/slide1.jpg">
    <div class="copy">
      <div class="title">GLOCK, Inc.</div>
      <div class="tag-line">The Test of Perfection</div>
      <a href="/#!/portfolio/item/0">
        <div class="call-to-action">See Work</div>
      </a>
    </div>
  </div>

  <div class="slide">
    <img class="img-responsive" src="/images/slider/slide2.jpg">
    <div class="copy">
      <div class="title">DRAGO Gear</div>
      <div class="tag-line">Ready For Your Mission</div>
      <a href="/#!/">
        <div class="call-to-action">Coming Soon</div>
      </a>
    </div>
  </div>

  <div class="slide">
    <img class="img-responsive" src="/images/slider/slide3.jpg">
    <div class="copy">
      <div class="title">Brewhouse Gallery</div>
      <div class="tag-line">One Year Anniversery Poster</div>
      <a href="/#!/portfolio/item/2">
        <div class="call-to-action">See Work</div>
      </a>
    </div>
  </div>

  <div class="slide">
    <img class="img-responsive" src="/images/slider/slide4.jpg">
    <div class="copy">
      <div class="title">Earhartt Station</div>
      <div class="tag-line">Rockin' & Racin' 2015</div>
      <a href="/#!/portfolio/item/1">
        <div class="call-to-action">See Work</div>
      </a>
    </div>
  </div>
</slick>

