<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize-card border">
        <header>ADVERTISING</header>
        <hr class="bar" />
        <img src="./images/specialize/adv-icon.png">
        <span>Integrated Campaigns</span>
        <span>Print / Digital / Broadcast</span>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize-card border">
        <header>DESIGN</header>
        <hr class="bar" />
        <img src="./images/specialize/des-icon.png">
        <span>Graphic Design</span>
        <span>Concept Development</span>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize-card border">
        <header>WEB / DIGITAL</header>
        <hr class="bar" />
        <img src="./images/specialize/web-icon.png">
        <span>Content Creation</span>
        <span>Design / Development</span>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize-card border">
        <header>ILLUSTRATION</header>
        <hr class="bar" />
        <img src="./images/specialize/illus-icon.png">
        <span>Digital / Analog / CAD</span>
        <span>Renderings / Storyboards</span>
      </div>
    </div>
  </div>
</div>
