<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize border">
        <header>ADVERTISING</header>
        <hr class="bar" />
        <img src="../../images/specialize/adv-icon.png">
        <p>Integrated Campaigns</p>
        <p>Print / Digital / Broadcast</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize border">
        <header>DESIGN</header>
        <hr class="bar" />
        <img src="../../images/specialize/des-icon.png">
        <p>Graphic Design</p>
        <p>Concept Development</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize border">
        <header>WEB / DIGITAL</header>
        <hr class="bar" />
        <img src="../../images/specialize/web-icon.png">
        <p>Content Creation</p>
        <p>Design / Development</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="text-center specialize border">
        <header>ILLUSTRATION</header>
        <hr class="bar" />
        <img src="../../images/specialize/illus-icon.png">
        <p>Digital / Analog / CAD</p>
        <p>Renderings / Storyboards</p>
      </div>
    </div>
  </div>
</div>
