<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" animated-nav>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <a class="navbar-brand" href="#!/">
          <img src="./images/logo.png">
        </a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="?target=about">About</a>
        </li>
        <li class="hidden">
          <a href="#specialize"></a>
        </li>
        <li class="hidden">
          <a href="#quote"></a>
        </li>
        <li>
          <a href="?target=portfolio">Portfolio</a>
        </li>
        <li>
          <a href="?target=crew">Crew</a>
        </li>
        <li>
          <a href="?target=contact">Contact</a>
        </li>
        <li class="hidden">
          <a href="#footer"></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div ng-show="item">
  <div class="item text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div>
            <h2>{{item.name}}</h2>

            <div ng-repeat="section in item.sections">
              <h3 align="left">{{section.title}}</h3>

              <p align="left">
                {{section.description}}
              </p>

              <div ng-repeat="video in section.videos">
                <div class="video-container">
                  <iframe ng-src="{{getTrustedSource(video)}}" width="750" height="425" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>

              <div ng-repeat="image in section.images">
                  <div class="row">
                    <div ng-repeat="source in image.sources">
                      <div class="{{image.style}}">
                        <img ng-click="zoom(source)" ng-src="{{source}}">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section ng-controller="PortfolioCtrl" ng-include="'./partials/portfolio.partial.html'" id="portfolio" class="portfolio"></section>
<section ng-include="'./partials/footer.partial.html'" id="footer" class="footer"></section>
