<div ng-include="'./partials/nav.partial.html'" id="nav"></div>
<section ng-include="'./partials/ideas.partial.html'" id="ideas" class="ideas"></section>
<section ng-include="'./partials/about.partial.html'" id="about" class="about"></section>
<section ng-include="'./partials/specialize.partial.html'" id="specialize" class="specialize"></section>
<section ng-include="'./partials/quote.partial.html'" id="quote" class="quote"></section>
<section ng-controller="PortfolioCtrl" ng-include="'./partials/portfolio.partial.html'" id="portfolio" class="portfolio"></section>
<section ng-include="'./partials/crew.partial.html'" id="crew" class="crew"></section>
<section ng-include="'./partials/contact.partial.html'" id="contact" class="contact"></section>
<section ng-include="'./partials/footer.partial.html'" id="footer" class="footer"></section>
