<section ng-include="'./views/partials/about.partial.html'" id="about" class="about"></section>
<section ng-include="'./views/partials/specialize.partial.html'" id="specialize" class="specialize"></section>
<section ng-include="'./views/partials/quote.partial.html'" id="quote" class="quote"></section>
<section ng-include="'./views/partials/portfolio.partial.html'" id="portfolio" class="portfolio"></section>
<section ng-include="'./views/partials/crew.partial.html'" id="crew" class="crew"></section>
<section ng-include="'./views/partials/contact.partial.html'" id="contact" class="contact"></section>
<section ng-include="'./views/partials/footer.partial.html'" id="footer" class="footer"></section>
